body{
    background-color: black;
}

img{
    width: 100%;
}

.portada{
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(../TPE-GRUPO-42/Imagenes-pagina/portada.jpeg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}

.portada .contenedor{
    margin: auto;
    margin-bottom: 6.25em;
}

.portada .titulo{
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.portada .descripcion{
    font-weight: normal;
    font-size: 1em;
    line-height: 1,75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}

.portada .boton{
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #fff;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}
/*carrousel*/

.peliculas-recom{
    margin-bottom: 70px;
}

.peliculas-recom .contenedor-principal{
    display: flex;
    align-items: center;
    position: relative;
}

.peliculas-recom .contenedor-principal .flecha-izq, .peliculas-recom .contenedor-principal .flecha-der {
    position: absolute;
    border: none;
    background: rgba(0,0,0,0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: white;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}

.peliculas-recom .contenedor-principal .flecha-izq{
    left: 0;
}

.peliculas-recom .contenedor-principal .flecha-der{
    right: 0;
}

.contenedor-titulo-controles{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contenedor-titulo-controles h3{
    color: red;
    font-size: 30px;
}

.peliculas-recom .contenedor-carrousel{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.peliculas-recom .contenedor-carrousel .carrousel{
    display: flex;
    flex-wrap: nowrap;
}

.peliculas-recom .contenedor-carrousel .carrousel .pelicula{
    width: 20%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px white;
}

.estilos-default{
    width: 20px;
}

.contorno {
    border: 1px solid black;
}